

.profile-card {
  flex-grow: 1;
  background-color: #1b263b;
  border-radius: 15px;
  padding: 1rem 2rem;
  vertical-align: baseline;
  align-items: center
}
.profile-card mat-icon{
  margin: 0.3rem;
}


  .profile-header {
    display: flex;
    flex-direction: column;

    justify-content:center;
    align-items: center;
    align-content: center;

    gap: 1rem;
  }

  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
  }

  .profile-info h2 {
    margin: 0;
  }

  .profile-info p {
    margin: 0;
    color: #828a94;
  }

  .profile-stats {
    display: flex;
    justify-content: space-between;
  }

  .profile-stats div {
    text-align: center;
    margin: 0 1.5rem;
  }

  .profile-bio h4 {
    margin-bottom: 0.5rem;
  }

  .profile-details p {
    margin: 0.5rem 0;
  }

  .profile-join-date {
    align-self: flex-end;
    margin-top: auto;
    margin-left: auto;
    font-size: 0.9rem;
    color: #828a94;
  }

  .icon-text-container {
    display: flex;
    align-items: center; /* Vertically centers both the icon and text */
}
