

.search-section {
  width: 100%;
  align-content: end;
  align-items: end;
}

.search-section h1 {
  font-size: 4rem;
  font-family: serif;
  font-weight: normal;
  text-align: end;
}

.profile-section {
  flex-grow: 1;
}
