  /* Search section */


  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: end;
    align-items: end;
    gap: 0.5rem;
    right: 0;
  }

  .search-bar input {
    padding: 0.5rem 1rem;

    border-radius: 50em;
    border: 0.1rem solid;
    background: none;


    color: white;
    font-size: 1rem;
    outline: none;
  }

  .search-bar button {
    padding: 0.5rem 2rem;

    border-radius: 50em;
    border: 0.1rem solid;
    background: linear-gradient(to right, transparent, #1cb5e0, transparent);

    color:white;
    font-size: 1rem;
    cursor: pointer;
  }
