  /* Search section */


  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-bar input {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #1b263b;
    color: white;
    font-size: 1rem;
    outline: none;
  }

  .search-bar button {
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #1cb5e0, #000851);
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
